body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo.hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: white;
  font-weight: 400;
}

li a::before {
  position: absolute;
  content: " ";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

li a:hover::before {
  width: 100%;
}

/* .github{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: none;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0,157,255),rgb(255,0,255));
} */

.github:hover {
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
  transform: scale(1.05);
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.about img {
  width: 45vh;
  border-radius: 50%;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.info-box h3 {
  font-size: 2rem;
  font-weight: 400;
  opacity: 0.8;
}

.info-box h1 {
  font-size: 4rem;
  font-weight: 500;
}

.info-box span {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 300;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  font-weight: 400;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid black;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
  color: black;
  /* background-color: aliceblue; */
}

.btn:hover {
  background-color: black;
  color: white;
}

.socials {
  display: flex;
  gap: 2rem;
  
}

.socials i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: black;
}

.socials i:hover {
  transform: scale(1.18);
}

.section-title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* .experience img{
    width: 24vw;
    border-radius: 3rem;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(0, 3);
  gap: 2rem;
}

.grid-card {
  /* border: 2px solid black; */
  background-color: aliceblue;
  padding: 2.3rem;
  border-radius: 1.5rem;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.grid-card:hover {
  transform: scale(1.05);
  color: white;
  background-color: black;
}

.grid-card i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

.grid-card span {
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

.grid-card h3 {
  font-weight: 500;
  padding: 0.5rem;
}

.grid-card p {
  font-weight: 400;
  padding: 0.5rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid black;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  /* background-color: aliceblue; */
}

.projects p {
  font-weight: 200;
  font-size: 1.05rem;
}

.project-card h3 {
  font-weight: 400;
  font-size: 1.7rem;
}

.project-card:hover {
  background-color: black;
  color: white;
  transform: translateY(-10px) scale(1.05);
}

.project-card img {
  width: 20vw;
  border-radius: 1.5rem;
}

.project-card:hover .btn {
  border: 2px solid white;
  color: white;
}

.project-card:hover .btn:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
}

#second h3 {
  padding-top: 3rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}

.input {
  position: relative;
}

.input-box input {
  border: 2px solid black;
  border-radius: 3rem;
  padding: 2rem 8rem;
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
}

.input-box input::placeholder {
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
}

.input i {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 10px;
  transform: translate(50%, -50%);
}

footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

footer ul li a {
  color: black;
  font-weight: 400;
}

.copyright {
  font-size: 300;
  margin-top: 2rem;
}

@media (max-width: 1280px) {
  header{
    padding: 1rem 2rem;
    gap: 2rem;
  }

  .about .about-container{
    gap: 3rem;
  }

  .experience-info{
    flex-direction: column;
  }

  .input-box input{
    padding: 2rem 5rem;
    font-size: 2.5rem;
  }

  .input input::placeholder{
    font-size: 2.5rem;
  }

  .input-box i{
    font-size: 2.5rem;
  }

}


@media (max-width: 768px){
  header{
    gap: 1rem;
    padding: 1rem 1rem;
  }

  header .logo{
    font-size: 1rem;
  }

  .about-container{
    flex-direction: column;
  }

  .input-box input{
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  .input input::placeholder{
    font-size: 1.5rem;
  }

  .input-box i{
    display: none;
  }

  .grid{
    grid-template-columns: repeat(1,1fr);
  }

  .experience-info img{
    width: 70vw;
  }
}

@media (max-width: 600px){
  .header #menu-icon{
    display: block;
  }

  .nav-links{
    position: absolute;
    top: 90%;
    left: 55%;
    transform: translateY(-0%);
    margin-top: 1rem;
    width: 40%;
    padding: 1rem;
    color: white;    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2rem;
    display: none;
  }

  .nav-links li{
    margin-top: 1.5rem;
    padding: 1rem;
  }

  .nav-links.active{
    display: block;
  }

  header{
    padding: 1rem 5rem;
    gap: 8rem;
  }

  header .logo{
    font-size: 1.5rem;
  } 

  .about-container img{
    width: 80vw;
  }

  .grid-card p{
    font-weight:200;
    font-size: 0.9rem;
  }

  .input-box input{
    padding: 0.5rem 3rem;
    width: 80%;
    font-size: 1.5rem;
  }

  .input input::placeholder{
    font-size: 1.5rem;
  }

  footer ul{
    gap: 1rem;

  }
}














/* Large Tablets and Small Laptops (max-width: 1280px) */

/*@media (max-width: 1280px) {
  .about .about-container {
    flex-direction: column;
    gap: 3rem;
  }

  .about img {
    width: 35vh;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card img {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  header {
    gap: 2rem;
    padding: 0.8rem 1rem;
  }

  .about .about-container {
    gap: 2rem;
  }

  .nav-links {
    display: none;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .project-card img {
    width: 30vw;
  }

  .info-box h1 {
    font-size: 3rem;
  }

  .info-box span {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  section {
    padding: 6rem 5%;
  }

  .about img {
    width: 60%;
  }

  .info-box h1 {
    font-size: 2.5rem;
  }

  .info-box span {
    font-size: 1.3rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .project-card img {
    width: 70%;
  }

  .input-box input {
    padding: 1rem 4rem;
    font-size: 1.5rem;
  }

  .input i {
    font-size: 2rem;
  }
}
*/




