* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: rgb(5, 11, 39);

  header {
    position: fixed;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: rgb(154, 205, 250);
    backdrop-filter: blur(8px);
    color: rgb(0, 0, 0);
    padding: 1em 1.5em;
    border-radius: 1.5em;
    z-index: 1000;

    .logo {
      color: rgb(0, 0, 0);
      font-size: 1.7rem;
      font-weight: 500;
      text-wrap: nowrap;
      transition: 0.1s ease-in-out;

      &.hover {
        transform: scale(1.1);
      }
    }

    .nav-links {
      display: flex;
      gap: 2em;

      li {
        a {
          position: relative;
          color: rgb(0, 0, 0);
          font-weight: 100;

          &::before {
            position: absolute;
            content: " ";
            width: 0;
            left: 0;
            height: 5px;
            top: 25px;
            border-radius: 1em;
            transition: 0.3s ease-in-out;
            background: linear-gradient(
              to left,
              rgb(0, 157, 255),
              rgb(155, 64, 155)
            );
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    #menu-icon {
      font-size: 2rem;
      display: none;
    }
  }

  section {
    min-height: 100vh;
    padding: 6.5rem 8%;
    width: 100%;
    position: relative;
  }

  .section-title {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;

    #particles-js {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

    .count-particles {
      background: #000022;
      position: absolute;
      top: 48px;
      left: 0;
      width: 80px;
      color: #13e8e9;
      font-size: 0.8em;
      text-align: left;
      text-indent: 4px;
      line-height: 14px;
      padding-bottom: 2px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;

      .js-count-particles {
        font-size: 1.1em;
      }

      #stats,
      .count-particles {
        -webkit-user-select: none; /* For Safari and older versions of Chrome */
        -moz-user-select: none; /* For Firefox */
        -ms-user-select: none; /* For Internet Explorer */
        user-select: none;
      }

      #stats {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
      }

      .count-particles {
        border-radius: 0 0 3px 3px;
      }
    }

    .about-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10rem;
      z-index: 10;

      .info-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .text {
          color: white;
        }

        h1 {
          font-size: 4.5rem;
          font-weight: 500;
          letter-spacing: 0.07em;
        }

        span {
          background: linear-gradient(
            to right,
            rgb(0, 157, 255),
            rgb(153, 67, 153)
          );
          background-clip: text;
          color: transparent;
          font-size: 2.2rem;
          font-weight: 300;
        }

        .btn-group {
          display: flex;
          gap: 1rem;

          .btn {
            font-weight: 400;
            border-radius: 3rem;
            padding: 0.5rem 1.5rem;
            border: 2px solid rgb(247, 241, 241);
            cursor: pointer;
            text-wrap: nowrap;
            transition: 0.2s ease-in-out;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);

            &:hover {
              background-color: rgb(0, 0, 0);
              color: rgb(255, 255, 255);
            }
          }
        }

        .socials {
          display: flex;
          gap: 2rem;

          i {
            font-size: 2.5rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            color: rgb(255, 255, 255);

            &:hover {
              transform: scale(1.18);
            }
          }
          img {
            cursor: pointer;
            transition: 0.2s ease-in-out;
            color: rgb(255, 255, 255);
            width: 2.5rem;
            &:hover {
              transform: scale(1.18);
            }
          }
        }
      }
    }
  }

  .about_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    .intro {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 50em;
      .text-intro {
        h1 {
          margin-bottom: 1.2rem;
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          margin-bottom: 10px;
          span {
            color: rgb(14 165 233);
          }
        }
      }

      .tech-stack {
        position: relative;
        height: 25em;
        h1 {
          margin: 15px;
          font-size: 2rem;
          text-align: center;
        }
        .images {
          display: flex;
          flex-wrap: wrap;
          .image {
            display: flex;
            flex-direction: column;
            width: 5em;
            height: 6.5em;
            border: 0.5px solid rgb(51, 48, 48);
            margin: 1em;
            border-radius: 10px;
            align-items: center;
            justify-content: space-around;
            padding: 1em;
            img {
              width: 3em;
              margin-bottom: 10px;
            }
            span {
              font-size: 0.8em;
            }
          }
        }
      }
    }
    .portfolio-img {
      img {
        width: 30em;
        height: auto;
        position: relative;
        left: 68%;
        margin-top: 30px;
      }
      img {
        --color: rgb(154, 205, 250); /* the border color */
        --border: 5px; /* the border thickness*/
        --offset: 30px; /* control the offset*/
        --gap: 5px; /* the gap on hover */

        --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
          var(--color) 0;
        --_o: calc(3 * var(--offset));
        padding: calc(var(--gap) + var(--border))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border));
        background: linear-gradient(var(--_c)) var(--_o) var(--_o),
          linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
        background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
        background-repeat: no-repeat;
        filter: grayscale(0.9);
        transition: 0.5s;
        cursor: pointer;
      }
      img:hover {
        background-position: 0px 0px;
        background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
        filter: grayscale(0);
      }
    }
  }

  .experience {
    .experience-info {
      display: flex;
      align-items: center;
      justify-content: center;
      .grid {
        display: grid;
        grid-template-columns: repeat(0, 3);
        gap: 1rem;
      }
      .grid-card {
        background-color: aliceblue;
        padding: 2rem;
        border-radius: 1.5rem;
        flex-direction: column;
        align-items: baseline;
        justify-content: left;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
          color: rgb(5, 5, 5);
          background-color: rgb(164, 177, 233);
        }
        i {
          font-size: 1.2rem;
          margin-bottom: 0.2rem;
          padding-right: 0.5rem;
        }
        span {
          gap: 1rem;
          font-size: 1.3rem;
          font-weight: 400;
          background: linear-gradient(
            to right,
            rgb(25, 14, 90),
            rgb(255, 0, 255)
          );
          background-clip: text;
          color: transparent;
        }
        h3 {
          font-weight: 500;
          padding: 0.5rem;
        }
        p {
          font-size: 0.9em;
          font-weight: 400;
          padding-bottom: 0.2rem;
        }
      }
    }
  }

  .projects {
    .project-grid {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      font-weight: 200;
      align-content: center;
      justify-content: center;
      margin-top: 30px;

      .project-card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid black;
        border-radius: 1.5rem;
        transition: 0.3s ease-in-out;
        background-color: aliceblue;
        width: 35em;
        height: 33em;
        gap: 1.5rem;
        p {
          font-weight: 200;
          font-size: 0.9rem;
        }
        h3 {
          font-weight: 400;
          font-size: 1.7rem;
        }
        img {
          width: 18vw;
          border-radius: 1rem;
        }
        .btn-group {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          margin-top: 10px;
          .btn {
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
          }
        }
        &:hover {
          background-color: rgb(164, 177, 233);
          transform: translateY(-10px) scale(1.03);
        }
        &:hover .btn:hover {
          color: rgb(0, 0, 0);
          background-color: rgb(255, 255, 255);
          border: 2px solid rgb(0, 0, 0);
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: row;
    iframe {
      position: relative;
      right: -15%;
      color: white;
      width: 600px; /* Default width */
      height: 840px; /* Default height */
    }
    .certification {
      position: relative;
      color: white;
      height: 40em;
      width: 70em;
      top: 2em;
      /* left: 5%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
      h2 {
        font-size: 2rem;
      }
      .all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: baseline;
        .certi {
          padding: 0.5em;
          .info {
            display: flex;
            flex-direction: column;
            .grp {
              display: flex;
              flex-direction: row;
              padding-top: 0.7em;
              gap: 0.5em;
              align-items: center;
              justify-content: center;
            }
            .view-c {
              width: 7em;
              height: 3em;
              background-color: rgb(103, 58, 183);
              color: white;
              border-radius: 0.5em;
              font-family: "Outfit", sans-serif;
              font-weight: 400;
            }
            .creden {
              width: 10em;
              height: 3em;
              background-color: rgb(103, 58, 183);
              color: white;
              border-radius: 0.5em;
              font-family: "Outfit", sans-serif;
              font-weight: 400;
            }
          }
        }

        #vertical {
          height: 25em;
          width: 18em;
          margin: 1em;
          img {
            width: 100%;
            height: 20em;
          }
        }
        #horizontal {
          height: 18em;
          width: 18em;
          margin: 1em;
        }
      }
    }
  }

  footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(15 23 42);
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      font-size: 1.2rem;
    }
    a {
      color: rgb(255, 255, 255);
      font-weight: 400;
    }
    .copyright {
      font-size: 300;
      margin-top: 1rem;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }

  .section {
    width: 100vw !important;
    overflow: hidden;
  }

  header {
    width: 80vw;
    left: 50% !important;
    gap: 2em !important;
    padding: 0.7rem 1rem !important;

    .nav-links {
      display: none !important;
      flex-direction: column !important;
      position: absolute !important;
      top: 110%;
      right: 0%;
      width: 50%;
      background-color: rgba(176, 202, 211, 1);
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      z-index: 1000;
    }

    .nav-links.active {
      display: flex !important;
    }

    #menu-icon {
      display: block !important;
    }
  }

  .about {
    overflow: hidden;
    .about-container {
      .info-box {
        h1 {
          font-size: 3.5rem !important;
          letter-spacing: 0.05em !important;
        }
        span {
          font-size: 2rem !important;
        }

        .socials {
          i {
            font-size: 2rem !important;
          }
          img {
            width: 2rem !important;
          }
        }
      }
    }
  }

  .about_1 {
    overflow: hidden;
    width: 100vw !important;
    padding: 0.2em;
    .intro {
      width: 100vw;
      position: relative;
      .text-intro {
        width: 100vw !important;
        height: 45vh;
        padding: 1rem;
        overflow: hidden;
        h1 {
          font-size: 1.5rem !important;
          margin-bottom: 0.5em !important;
        }
        p {
          font-size: 0.7em !important;
        }
      }

      .tech-stack {
        overflow-x: scroll;
        height: 55vh !important;

        h1 {
          margin-top: 0.1em !important;
          margin-bottom: 0.1em !important;
          text-align: start !important;
          font-size: 1.5rem !important;
        }
        .images {
          margin-top: 0.2em !important;
          width: 100vw;
          margin-bottom: 1rem;
          justify-content: center;
          align-items: center;
          .image {
            width: 5.5em !important;
            height: 7.5em !important;
            padding: 0.5em !important;
            margin: 0.5rem !important;
          }
        }
      }
    }
    .portfolio-img {
      img {
        display: none;
      }
    }
  }

  .experience {
    padding: 1rem 5%;
    width: 100vw;
    h2 {
      font-size: 2.5rem;
      text-align: start;
    }
    .grid {
      gap: 1rem !important;
      .grid-card {
        i {
          margin-bottom: 0rem !important;
        }
        /* padding: 1rem !important; */
        h3 {
          padding: 0.3rem !important;
        }
        p {
          padding: 0rem !important;
        }
      }
    }
  }

  .projects {
    padding: 0.5rem 5%;
    h2 {
      font-size: 2.5rem;
      text-align: start;
      margin: 1rem;
    }
    .project-grid {
      flex-direction: column !important;
      gap: 1rem !important;

      .project-card {
        height: 40% !important;
        width: 90vw !important;
        padding: 1rem !important;
        gap: 0.5rem !important;
        img {
          position: relative;
          width: 18em !important;
        }
      }
    }
  }

  .contact {
    overflow: hidden;
    flex-direction: column !important;
    padding: 1rem 5%;
    width: 100vw;
    gap: 1em !important;

    .certification {
      align-items: start !important;
      height: 40% !important;
      top: 0% !important;
      left: 5% !important;
      h2 {
        visibility: hidden; /* Hide the original text */
        position: relative; /* Create a containing context for ::after */
      }
      h2::after {
        content: "Certification"; /* Display the new text */
        visibility: visible;
        position: absolute;
        width: 100%;
        left: 0%;
        text-align: start; /* Optional: Center the text */
        visibility: visible;
        font-size: 2.5rem; /* Match the original font size */
        color: inherit; /* Match the original text color */
      }
      .all {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

        .certi {
          margin: 0em !important;
          margin-bottom: 0.5em !important;
        }

        #vertical {
          height: 26em !important;
          width: 18em;
          /* margin: 1em; */
          img {
            width: 100%;
            height: 22em !important;
          }
        }
        #horizontal {
          height: 18em;
          width: 18em;
        }
      }
    }

    iframe {
      padding: 1rem !important;
      width: 105vw !important; /* Reduce width to 90% of the viewport */
      height: 130vh !important; /* Adjust height for smaller screens */
      top: 0em !important; /* Reduce the top offset for better fit */
      margin: 0 auto; /* Center the iframe horizontally */
      right: 7% !important;
    }
  }

  footer {
    overflow: hidden;
    font-size: 0.7rem !important;
    height: 7rem !important;
    ul {
      font-size: 0.7rem !important;
    }
  }
}
